.equipe-bg {
  background-color: var(--cor-c2);
}

.equipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

.equipe h1 {
  grid-column: 1/-1;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.equipe-img {
  max-width: 250px;
  height: 250px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.equipe-img img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.pessoa h2,
.pessoa p {
  text-align: center;
}

.pessoa h2 {
  margin-bottom: 20px;
}
.pessoa p {
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .equipe {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .equipe h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
